html 
    head    
        title Petanca league
    body 
        header 
            nav 
                ul 
                    li Home 
                    li About 
                    li Contacto 
        main 
            block content 
        footer