html 
    head    
        title Petanca league
    body 
        header 
           nav 
                    ul 
                        li 
                            a(href="/players") Jugadores 
                        li 
                            a(href="/teams") Equipos 
                        li 
                            a(href="/games") Partidos 
                        li 
                            a(href="/login") Entrar
        main 
            block content 
        footer